/*General styles*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Turret Road', cursive;
}

a{
  text-decoration: none;
}



body {
  line-height: 1;
  font-size: 20px;
}

.subtitle-container{
  display: flex;
  padding-top: 35px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.sub-title{
  text-align: center;
  font-weight: 100;
  font-size: 28px;
  padding: 0 12px;
  font-family: 'Orbitron', sans-serif;
}

/* Buttons*/
/*Btn primary starts here*/
.btn-primary{

  color: #333;
  text-transform:uppercase;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;;
}


/*main button styles*/
.btn-primary{
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 3px;
  position: relative;
  padding: 6px 30px;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  
}

.btn-primary:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-top: 1px white solid;
  border-left: 1px white solid;
  border-bottom: 6px black solid;
  opacity: 1;
  transition: all 0.6s 0.3s;
}

.btn-primary:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
   width: 50%;
  height: 100%;
  border-top: 1px white solid;
  border-right: 1px white solid;
  border-bottom: 6px black solid;
  opacity: 1;
  transition: all 0.6s 0.3s;
}

.btn-primary:hover:before{
  transform: translateX(-50%);
  opacity: 0;
}

.btn-primary:hover:after{
  transform: translateX(50%);
  opacity: 0;
}


.btn-span{
  position: absolute;
  top:0;
  left: 50%;
  background: white;
  width: 1px;
  height: 100px;
  transform-origin: center;
  transform: TranslateY(-100px);
  z-index: 1;
  transition: all 0.8s;
  opacity: 0;
}

.text-container button:hover span{
  opacity: 1;
  transform: translateY(1px);
  animation: hide 0.7s linear forwards;
}

.btn-checkout-box button:hover span{
  opacity: 1;
  transform: translateY(1px);
  animation: hide 0.7s linear forwards;
}


@keyframes hide {
    to {
        opacity: 0;
    }
}


.btn-secondary{
  padding: 5px 30px;
  color: black;
  font-family: 'Gruppo', cursive;
  background: linear-gradient(to bottom, rgb(49, 207, 154), rgb(29, 211, 243));
  border-radius: 20px;
  text-align: center;
}

.btn-secondary:hover{
  background: linear-gradient(to bottom, rgb(89, 200, 163),
  rgb(101, 212, 231));
}

.btn-3{
  font-family: 'Gruppo', cursive;
  padding: 5px 30px;
  border: 1px #fff solid;
  border-radius: 20px;
  color: #fff;
  margin-left: 20px;
}

.btn-3:hover{
  background-color: #fff;
  color: black;
  transition: all 0.5s;
}

/*Nav*/
.header-subcontainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 14px 0;
  color: #fff;
  background-color: rgb(4, 4, 4);
}


.inv-box{
  display: none;
    height: 60vh;
    width: 100%;
}

.nav a{
  padding-left: 19px;
  text-decoration: none;
  color: #333;
  color: #fff;
  font-size: 17px;
  letter-spacing: 1px;
}

.nav a:hover{
  color: rgb(197, 194, 194);
}

.logo-container h1{
  color:aliceblue;
  font-family: 'Gruppo', cursive;
}

/*Home menu*/

/* Hero*/
.main-section{
  font-family: 'Gruppo', cursive !important;
  color: rgb(152, 146, 146);
  width: 35%;
  padding-top: 15%;
  padding-left: 45px;
  line-height: 1.5;
}


.main-section p{
  font-family: 'Courier New', Courier, monospace;
  padding-top: 19px;
  font-size: 15px;
  padding-bottom: 35px;
}


/*section-A*/
.section-a-wrapper{
  background: linear-gradient(to bottom, rgb(49, 207, 154), rgb(29, 211, 243))
}
.section-a{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  height: 400px;
}


.text-container p{
  font-weight: 600;
  font-size: 23px;
  word-spacing: 4px;
  text-indent: 30px;
  color: #333;
  line-height: 1.4;
  padding-bottom: 30px;
}

.highlight{
  color: rgb(250, 250, 250);
}

.line{
  width: 40px;
  height: 2px;
  background-color: #333;
}
.text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 80%;
}

/* section-b  Testimonials*/
.section-b-wrapper{
  background-color:rgb(0, 0, 0);
  color: #fff;
  border-radius: 100px;
  margin: 40px;
}

.section-b .line{
  background-color: #fff;
}

.section-b{
  margin: 0 auto;
  width: 90%;
  height: 700px;
  border-radius: 20%;
}
#home-b .circle-box {
  border-radius: 50%;
  background: #333;
  color: #fff;
  width: 60%;
  text-align: center;
  position: relative;
  transition: all 1s; 
  text-align: center;
  margin: 0 auto;
}

.circle-box-img{
  width: 100%;
  border-radius: 50%;
  padding: 20px;
}

#home-b .process {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  text-align: center; 
}

.p-2{
  padding-top: 20px;
}
  
#home-b .process-step {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    background: #15f7ff;
    color: #fff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: #333;
    text-align: center;
    padding: 1rem;
    transition: all 1s; 
}

.lead {
font-size: 1.3rem;
margin-bottom: 2rem;
text-align: center;
padding-top: 25px;
}


/*Section C Steps*/
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.flex-items h3{
  padding-bottom: 15px;
}

.blueIcon{
  color:rgb(29, 211, 243);
  font-size: 35px;
  padding-bottom: 10px;
}

/* Section D*/
/* Flex columns */
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.section-d{
  color:rgb(179, 170, 170);
  margin-top: 40px;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  background-color: rgb(5, 1, 1);
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  letter-spacing: 4px;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
  line-height: 1.4;
}


/*Footer*/
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(44, 40, 40);
  color: white;
  text-align: center;
  padding: 20px;
}

/* -------------------Contact US----------------*/

.contact-wrapper{
  background-color: #000000;
  display: flex;
  justify-content: center;
}
#contact{
  background-color: rgba(255, 255, 255, .15);   
  backdrop-filter: blur(5px);
  border-radius: 20px;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  
 }

 #contact .line{
  background-color: #fff;
 }

 #contact .sub-title{
  padding-top: 4px;
 }

 #contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

 .flex{
  display: flex;
  flex-direction: column;
 }

 .flex-destinations{
  display: flex;
  flex-direction: row;

 }

 .flex label{
   color:rgb(247, 245, 236);
   padding: 10px;
   font-size: 20px;;
 }

 #contact input{
  font-size: 20px;;
  width: 500px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: #fff 1px solid;
  color: #fff;
 }
 
 #contact textarea{
  width: 500px;
  height: 80px;
  border-radius: 5px;
  outline: none;
  border: #fff 1px solid;
  font-size: 20px;
  background-color: transparent;
  color: #fff;
 }
 
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(201, 193, 193);
  transition: background-color 5000s ease-in-out 0s;
}

.error-text{
  font-size: 15px;;
  padding-top: 5px;
  color:rgb(255, 0, 0);
}

.btn-4{
  text-align: center;
  background-color: transparent;
  width: 500px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 25px;;

}

/*-----------ROCKETS--------------*/

.rockets-wrapper{
  background-color: #000000;
  color: #fff;
}
.rocket{
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rocket img{
  border-radius: 25px;
}

.rocketContainer  .line{
  background-color: #fff;
}

.rocket p{
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

.rocket h2{
  padding: 20px 0;
}

.rocket-img-box{
  width: 600px;
}

/*----------Profile-----------*/
.profile-wrapper{
  background-color: rgb(0, 0, 0);
  height: 100vh;
}

.profile-wrapper .subtitle-container{
  color: #fff;
}

.profile-wrapper .flex-columns .column{
  height: 100vh;
}

.profile-wrapper .flex-columns .column-2{
  justify-content: start;
}

.profile-wrapper .line{
  background-color: #fff;
}

.missions-container{
  margin-top: 20px;
  width: 100%;
  height: 400px;
  color: #fff;
  border: #fff 1px solid;
}

.missions-container .line-2{
  background-color: #fff;
}

.missions-container h3{
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.mission-data{
  padding: 15px 10px;
  font-size: 17px;
  color:rgb(152, 146, 146)
}

/* -----------DESTINATIONS PAGE------------*/
.destinations-wrapper{
  background-color: rgb(0, 0, 0)
}
.destinations-intro{
  height: 50vh;
  width: 100%;
  background: linear-gradient(to bottom, rgb(4, 4, 4), rgb(3, 3, 22));
  color: #fff;
  text-align: center;
  padding-top: 100px;
  line-height: 1.5;;
}
.destinations {
  color: rgb(197, 188, 188);
}
.destinations-intro h2{
  font-size: 50px;
  letter-spacing: 10px;;
}
.destinations-intro article{
  padding: 60px 0;
  font-size: 30px;
  color:rgb(197, 194, 194)
}

.flex{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

ul li{
  list-style: none;
  padding-left: 20px;
}

.destinations h2{
  letter-spacing: 15px;
  text-transform: uppercase;
}

.destinations .column-2{
  background-color: black;
}

.shadow-effect-1{
  height: 150px;
  width: 100%;
  background: linear-gradient(to bottom, rgb(3, 3, 22), rgb(0, 0, 0));
}


.shadow-effect-2{
  height: 150px;
  width: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(3, 3, 22));
}

.destinations button{
  background-color: transparent;
  border: none;
}


/*------ Each destination page--------*/

.desti-title{
    font-size: 50px;
    padding: 40px 0;
}

.dest-page{
  background-color:rgb(0, 0, 0);
  color: #fff;
}

.destinations-info{
  display: flex;
  justify-content: space-around;
  height: 60vh;
  padding-top: 60px;
}

.dest-info-box{
  display: flex;
  flex-direction: column;
  text-align: center ;
}

.individual-dest-info{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 17px;
}

.individual-dest-info p:nth-last-child(1) {
    padding-left: 90px;
    color:rgb(152, 146, 146)
}

.line-2{
  width: 100%;
  height: 1px;
  background-color: #333;
}

.destinations-input-box{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.destinations-input-box p{
  text-align: center;
  font-size: 17px;
}
.inputs-box{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  text-align: center;
}

.individual-input{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.individual-input p{
  padding-right: 19px;
  font-size: 25px;
  text-align: center;
}

.individual-input input{
  outline: none;
  border: #fff 1px solid;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0)
}

.finalPriceContainer{
  margin-top: 60px;
}

.btn-checkout-box{
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.btn-checkout{
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  padding: 5px 30px;
}

.btn-checkout-box button{
  background-color: transparent;
  border: none;

}

.destination-img{
  width: 100%;
}

.rocket img{
  width: 100%;
  height: 100%;
}

.dest-img-container{
  width: 70%;
  margin: 0 auto;
}

.includedBox h2{
  text-align: center;
}
.included-text{
  display: flex;
  flex-direction: column;
  padding: 10px;
  color:rgb(152, 146, 146)
}

.included-text li{
  padding-top: 15px;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}




/* Position and sizing of burger button */
.bm-burger-button {
  position:absolute;
  width: 36px;
  height: 20px;
  left: 36px;
  top: 20px;
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgb(0, 0, 0);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #000000;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #000000;
  
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}


.burger-nav{
  display: flex;
  flex-direction: column;
  color: #fff;
}

.menu-item{
  padding-bottom: 25px;
  font-size: 25px;
  color: #fff;
}



.burger-nav{
  display: flex;
  flex-direction: column;
  color: #fff;
}

.link{
  color: #fff;
  font-family: 'Gruppo', cursive;
}

.flex a{
  color: #fff;
}

.hide{
  display: none;
}



 /* Media Query for Tablets Ipads portrait mode */
 @media (min-width: 768px) and (max-width: 1024px){
  /*contact*/
  #contact{
    width: 70%;
    height: 60%;
    margin-top: 20%;
  }

  /*nav*/
  .nav a{
    font-size: 12px;;
  }

  .logo-container h1{
    font-size: 25px;
  }

  /*home-page*/
  .main-section{
    width: 80%;
  }

  .main-section h1{
    font-size: 25px;
  }

  .inv-box{
    display: block;
  }

  .main-section{
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: 85%;
    background-color: rgba(255, 255, 255, .15);   
    backdrop-filter: blur(5px);
    border-radius: 20px;
    color: rgb(235, 239, 255);
    overflow: hidden;
  }

  .hidden-title{
    display: block;
    color:rgb(179, 170, 170);
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
  }
  .main-section p{
    color: black
  }

  .btn-3, .btn-secondary{
    font-size: 15px;
  }

  .btn-box{
    text-align: center;
  }

  .section-a{
    width: 90%;
  }

  .section-a .highlight{
    font-size: 15px;
  }

  .sub-title{
    font-size: 20px;
  }

  .text-container p{
    font-size: 15px;
  }

  .btn-primary{
    font-size: 15px;
    font-family: 'Gruppo', cursive;
  }

  /*testimonials*/
  #home-b .process {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    text-align: center; 
  }

  .section-b{
    height: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .flex-columns h2{
    font-size: 15px;
  }

  .flex-columns h4, p{
    font-size: 12px;
  }

  /* Destinations */
  .destinations-intro h2{
    font-size: 20px;
  }

  .destinations-intro article {
    font-size: 17px;
    padding: 60px 10px;
  }

  .flex{
    display: flex;
    font-size: 10px;
  }

  .shadow-effect-1{
    height: 10px;
  }

  .destinations-intro{
    height: 30vh;
  }

  /* Single destination page*/
  .destinations-info{
    display: flex;
    flex-direction: column;
    margin: 0 80px;
  }

  .inputs-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .input-wrapper{
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .individual-input{
    padding-top: 30px;
  }

  .individual-input p{
    font-size: 17px;
  }

  .individual-input input{
    padding: 0;
  }

  .rocket-img-box{
    width: 100px;
    margin: 0 auto;
  }

  .flex-columns .row {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .profile-wrapper{
    background-color: rgb(0, 0, 0);
    height: 100vh;
  }
  .column-1 {
   display: none;
  }

  
}


/*Media queries  ----------MOBILE----------*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 540px) {
  .hide{
    display: block;
  }


  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(44, 40, 40);
    color: white;
    text-align: center;
    padding: 20px;
  }

  .header-subcontainer{
    background-color: #000000;
    color: #fff;
  }

  .logo-title{
    font-size: 25px;
  }
  .nav {
    display: none;
  }

  .bm-burger-button{
    display: block;
  }

  /*Home-page*/
  .main-section h1, span{
      font-size: 20px;
  } 
  #main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hidden-box{
    text-align: center;
    padding-top: 15px;
  }

  .hidden-box span{
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
  }

  .hidden-title{
    color: #fff;
    font-size: 15px;
    color:rgb(195, 196, 202);
    font-family:'Courier New', Courier, monospace

  }

  .main-section{
    text-align: center;
    padding: 20px;
    margin:  auto;
    width: 85%;
    background-color: rgba(255, 255, 255, .15);   
    backdrop-filter: blur(5px);
    border-radius: 20px;
    color: rgb(235, 239, 255);
    overflow: hidden;
  }

  .inv-box{
    display: block;
    height: 40vh;
  }

  .rocket img{
    width: 100%;
    height: 100%;
  }

  


 

  .main-section p{
    color: black
  }

  .btn-3, .btn-secondary{
    font-size: 15px;
  }

  .btn-box{
    text-align: center;
  }

  .section-a{
    width: 90%;
  }

  .section-a .highlight{
    font-size: 15px;
  }

  .sub-title{
    font-size: 20px;
  }

  .text-container p{
    font-size: 15px;
  }

  .btn-primary{
    font-size: 15px;
    font-family: 'Gruppo', cursive;
  }

  #home-b .process {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
    text-align: center; 
  }

  .section-b{
    height: 100%;
    padding: 30px 0;
  }

  .flex-items{
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
   
  }

  .icon-box p{
    font-size: 17px;
  }

  .icon-box{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
    
  }

  .blueIcon{
    margin-top: 15px;
  }

  .line-2{
    width: 100%;
    height: 1px;
  }

  .flex-columns{
    display: flex;
    flex-direction: column;
  }

  .section-d{
    margin-top: 0;
  }

  .flex-columns .row {
    display: flex;
    flex-direction: column !important;
  }

  .flex-columns h2{
    font-size: 20px;
  }

  .flex-columns h4, p{
    font-size: 15px;
  }

  .flex-columns .highlight{
    font-size: 15px;
  }

  /*Rockets page*/

  .rocket img{
    width: 100%;
    height: 100%;
  }

  .rocket p{
    width: 100%;
  }

  .rocket h2{
    font-size: 20px;;
  }

  .rocket-img-box{
    width: 100%;
    margin: 0 auto;
  }

  /*Destinations page*/   

  .destinations-intro{
    padding-top: 50px;
  }
  .destinations-intro h2{
    font-size: 25px;
  }

  .flex{
    display: flex;
    font-size: 10px;
  }

  .destinations-intro article {
    font-size: 17px;
    padding: 60px 10px;
  }

  .shadow-effect-1{
    height: 20px;
  }

  .destinations h2, button{
    text-align: center;
    margin: 0 auto;
    line-height: 29px;
  }

  /*Single destination page*/
  .destinations-info{
    display: flex;
    flex-direction: column;
  }

  .includedBox h2{
    padding-top: 15px;
    font-size: 22px;
  }

  .included-text li{
   font-size: 15px;
  }

  .destinations-input-box{
    display: flex;
    flex-direction: column;
  }

  .inputs-box{
    display: flex;
    flex-direction: column;
  }

  .individual-input{
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  
  .individual-input p{
    font-size: 15px;
    padding-top: 28px;
  }

  .individual-input p{
    font-size: 17px;
  }

  .individual-input input{
    padding: 0;
    margin-top: 7px;
  }


  .btn-checkout-box button{
    margin: 0 auto;
    font-size: 15px;
  }

  .dest-img-container {
    margin: 0 auto;
    width: 95%;
  }

  .input-wrapper{
    width: 80%;
    margin: 0 auto;
  }

  /* Contact Us*/
  #contact{
    width: 85%;
  }

  #contact input{
    width: 100%;
    outline: none;
  }

  #contact textarea{
    width: 280px;
    font-size: 15px;;
  }

  .btn-4{
    width: 100%;
  }

  /*Profile*/

    
   .flex-columns .row {
      display: flex;
      flex-direction: column-reverse !important;
    }

    .column-1 img{
      display: none;
    }

    
};

