/*General styles*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Turret Road', cursive;
}

a{
  text-decoration: none;
}

html,
body {
  min-height: 100%;
}

body {
  line-height: 1;
  font-size: 20px;
}

.sub-title{
  text-align: center;
  padding-top: 25px;
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'Orbitron', sans-serif;
}

/*Nav*/
.header-subcontainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 14px 0;
  color: #fff;
  background-color: rgb(44, 40, 40);
}

.nav a{
  padding-left: 17px;
  text-decoration: none;
  color: #333;
  color: #fff;
}

.nav a:hover{
  color: rgb(197, 194, 194);
}

.logo-container h1{
  color: rgb(46, 113, 189);
  font-family: 'Gruppo', cursive;
}


/*Footer*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(44, 40, 40);
  color: white;
  text-align: center;
  padding: 20px;
}

form{
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 20%;
}